.navbar {
  background-color: black;
  color: white;
  height: 8vh;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

ul {
  display: flex;
  height: 100%;
  align-items: center;
}

li {
  list-style-type: none;
  display: inline;
  padding-right: 10px;
}
