.properties {
  display: flex;
  flex-direction: row;
}

.properties__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.property {
  width: 30%;
  border: 1px solid black;
  margin-bottom: 20px;
}
